header{
    grid-area: cab; /* Esta linha atribui ao elemento header uma área de grade chamada "cab". Isso sugere que o elemento header será posicionado dentro de um layout de grade CSS maior que usa essa área de grade "cab" */
    background-color:#CFE2F3; /* define a cor de fundo para esses elementos */
}

main{
    grid-area: pri; 
    background-color: #FFFFFF;
}
footer{
    grid-area: rod;
    background-color: #CFE2F3;
}

body{
    display: grid;
    grid-template-areas: 
    "cab cab"
    "pri pri"
    "rod rod";
    grid-template-rows: 200px 5500px 200px;
}

@media only screen and (max-width: 820px) {
    body{
        grid-template-areas: 
        "cab"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    } 
}  

@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "pri"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }
    section{
        display: flex;
    }
    aside{
        display: none;
    }
    header{
        display: none;
    }
    
}

h1{
    font-size: 40px; /* Esta linha define o tamanho da fonte para elementos com a classe .início como 40 pixeis. */
    color: #4682B4;
    text-align: center;  /* Esta linha centraliza o texto dentro dos elementos .início. Isso significa que o texto será alinhado horizontalmente no centro do elemento. */
    font-family:Georgia, 'Times New Roman', Times, serif; /*Esta regra define a família de fontes para os elementos afetados. */
    text-shadow: 2px 2px 2px rgb(175, 223, 255);
    border-color: rgb(175, 223, 255);
    border-style:groove;
    border-width: 2px 0 2px 0;
}

.container{
    max-width: 1000px;
    margin: 5px auto; /*  A margem cria espaço ao redor do elemento. */ 
    background-color:#CFE2F3;
    padding: 30px; /* O preenchimento interno cria espaço entre o conteúdo dentro desses elementos e suas bordas. */
    text-align:center;
    border-radius: 40px;
}

.logo{
    border-radius: 20%; /* Isso cria um efeito de borda arredondada, transformando efetivamente o elemento em um círculo. */
    padding: 20px;
    max-height: 40rem;
    float: left;
    max-width: 200px;
}

.tituloheader{
    font-size: 60px; 
    color: #4682B4;  
    font-family:Georgia, 'Times New Roman', Times, serif; /*Esta regra define a família de fontes para os elementos afetados. */
    text-shadow: 2px 2px 2px rgb(151, 210, 250);
    border: none;
    text-align: right;
    padding-right: 530px;
}

h3{
    font-size: 20px;   
    color: #015396; 
}

h5{
    font-size: 20px;   
    color: #3a82be; 
}