header{
    grid-area: cab;
    background-color:#CFE2F3;
}

main{
    grid-area: pri;
    background-color: #FFFFFF;
}
footer{
    grid-area: rod;
    background-color: #CFE2F3;
}

body{
    display: grid;
    grid-template-areas: 
    "cab cab"
    "pri pri"
    "rod rod";
    grid-template-rows: 200px 1500px 200px;
    grid-template-columns: 300px auto;
}

header img{
    height: 150px;
    width: auto;
}

@media only screen and (max-width: 820px) {
    body{
        grid-template-areas: 
        "cab"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }   
    header img{
        display: none;
    } 
}

@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "pri"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }
    section{
        display: flex;
    }
    aside{
        display: none;
    }
    header{
        display: none;
    }
    
}